doctype html
html
	head
		title 爐石戰記卡牌
		link(rel='stylesheet' type='text/css' href='/lib/default/card.css')

	body
		div.cards
			each card in cards
				div.card(id=card.id type=card.type rarity=card.rarity playerClass=card.playerClass)
					div.thumbnail
						img(src='http://wow.zamimg.com/images/hearthstone/cards/enus/original/' + card.id + '.png')
						div.type #{card.type}
					div.rarity
					div.rarity-dragon
					div.class
					div.profile
						div.name #{card.name}
						ul.ability
							// Cost
							if (card.cost !== undefined)
								li.cost #{card.cost}
							else
								li
							// Damage
							if (card.attack !== undefined && ! card.durability)
								li.attack #{card.attack}
							else if (card.attack !== undefined)
								li.weapon-attack #{card.attack}
							else
								li
							// Health or durability
							if (card.health !== undefined)
								li.health #{card.health}
							else if (card.durability !== undefined)
								li.durability #{card.durability}
							else
								li
						div.description
							div.text !{card.text}